---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
$max-width: calc(75vw);

article.page,
div.archive {
    float: left;
    width: 100%;
}

#footer footer {
    max-width: $max-width;
}

.flex-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: start;
    gap: 15px;
}

.bio {
    flex: 1 0 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: start;
    justify-content: space-around;
    gap: 20px;
}

.bio img {
    margin: 5px;
    object-fit: cover;
    aspect-ratio: 3 / 4;
    height: 100%;
    flex: 1 0 20%;
    max-width: 20%;
}

.bio div {
    //margin: auto;
    font-weight: bold;
    text-align: left;
    flex: 0 0 10%;
}

.bio .desc {
    font-size: 1rem;
    text-align: right;
    flex: 7 0 50%;
}

.presentation {
    margin: auto;
    display: block;
}

.pdf-link {
    display: block;
    margin: 2em 10em;
}

.team {
    color: #ff8585;
}

.odu-icon {
    width: 20px;
    height: 20px;
}
// .splash {
//     max-width: 50vw;
// }

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials